
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-none::-webkit-scrollbar {
      display: none;
    }
  }

  /* Custom Scrollbar */
nav::-webkit-scrollbar {
  width: 8px; /* Adjust width */
}

nav::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* Tailwind blue-500 */
  border-radius: 4px;
}

nav::-webkit-scrollbar-track {
  background: #1e293b; /* Tailwind slate-800 */
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #3b82f6, #040404); /* Tailwind blue-500 */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}
